3term/lab3/XMLFile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="settings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SourcePath" type="xs:string" />
        <xs:element name="TargetPath" type="xs:string" />
        <xs:element name="LogFilePath" type="xs:string" />
        <xs:element name="NeedToEncrypt" type="xs:boolean" />
        <xs:element name="ArchiveOptions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NeedToArchive" type="xs:boolean" />
              <xs:element name="NeedToCompress" type="xs:boolean" />
              <xs:element name="Level" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>